{% extends "base.html.twig" %}
{% block content %}
    <div class="content-container sh-page-layout-default">
        <div class="container entry-content">
            <div id="content-wrapper">
                <div id="content" class="blog-page-list sh-pagination-left">
                    <div class="sh-group blog-list blog-style-left blog-dividing-line-on">
                        <article id="post-53"
                                 class="post-item post-item-single post-53 post type-post status-publish format-standard has-post-thumbnail hentry category-guide category-lifestyle tag-guide tag-life-hack tag-lifestyle tag-travel">
                            <div class="post-type-content">
                                <div class="post-thumbnail"><img
                                            src="{{ absolute_url(asset('asset/images/'~article.Slug~'.png')) }}"
                                            alt="{{ article.Header }}"> <a
                                            href="{{ absolute_url(asset('asset/images/'~article.Slug~'.png')) }}"
                                            class="post-lightbox"
                                            data-rel="lightcase:post_gallery_53"></a></div>
                            </div>
                            <div class="post-item-single-container">
                                <div style="position: static; width: 0px; height: 319px; display: block; vertical-align: baseline; float: left;">
                                    <div class="post-content-share post-content-share-bar jssocials is_stuck"
                                         style="position: fixed; top: -29px; width: 80px;">
                                        <div class="jssocials-shares">
                                            <div class="jssocials-share jssocials-share-twitter"><a target="_blank"
                                                                                                    href="https://twitter.com/share?url=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F02%2F08%2Fthe-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it%2F&amp;text=Gillion%20is%20a%20powerhouse%20News%2C%20Magazine%2C%20Blog%20or%20Review%20style%20WordPress%20Theme%20packed%20with%20powerful%2C%20easy%20to%20use%20features%2C%20ready%20to%20create%20amazing%20websites.%20Incl%206%20months%20support"
                                                                                                    class="jssocials-share-link"><i
                                                            class="fa fa-twitter jssocials-share-logo"></i></a></div>
                                            <div class="jssocials-share jssocials-share-facebook"><a target="_blank"
                                                                                                     href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F02%2F08%2Fthe-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it%2F"
                                                                                                     class="jssocials-share-link"><i
                                                            class="fa fa-facebook jssocials-share-logo"></i></a></div>
                                            <div class="jssocials-share jssocials-share-googleplus"><a target="_blank"
                                                                                                       href="https://plus.google.com/share?url=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F02%2F08%2Fthe-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it%2F"
                                                                                                       class="jssocials-share-link"><i
                                                            class="fa fa-google jssocials-share-logo"></i></a></div>
                                            <div class="jssocials-share jssocials-share-pinterest"><a target="_blank"
                                                                                                      href="https://pinterest.com/pin/create/bookmarklet/?&amp;url=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F02%2F08%2Fthe-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it%2F&amp;description=Gillion%20is%20a%20powerhouse%20News%2C%20Magazine%2C%20Blog%20or%20Review%20style%20WordPress%20Theme%20packed%20with%20powerful%2C%20easy%20to%20use%20features%2C%20ready%20to%20create%20amazing%20websites.%20Incl%206%20months%20support"
                                                                                                      class="jssocials-share-link"><i
                                                            class="fa fa-pinterest jssocials-share-logo"></i></a></div>
                                            <div class="jssocials-share jssocials-share-whatsapp"><a target="_self"
                                                                                                     href="whatsapp://send?text=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F02%2F08%2Fthe-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it%2F Gillion%20is%20a%20powerhouse%20News%2C%20Magazine%2C%20Blog%20or%20Review%20style%20WordPress%20Theme%20packed%20with%20powerful%2C%20easy%20to%20use%20features%2C%20ready%20to%20create%20amazing%20websites.%20Incl%206%20months%20support"
                                                                                                     class="jssocials-share-link"><i
                                                            class="fa fa-whatsapp jssocials-share-logo"></i></a></div>
                                            <div class="jssocials-share jssocials-share-messenger"><a target="_self"
                                                                                                      href="fb-messenger://share?link=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F02%2F08%2Fthe-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it%2F"
                                                                                                      class="jssocials-share-link"><i
                                                            class="fa fa-commenting jssocials-share-logo"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-single-meta">
                                    <div class="post-categories-container">
                                        <div class="post-categories">
                                            <a href="https://gillion.shufflehound.com/category/guide/">
                                                Опыт</a>,
                                            <a href="https://gillion.shufflehound.com/category/lifestyle/">
                                                Лайфхаки</a>,
                                            <a href="https://gillion.shufflehound.com/category/lifestyle/">
                                                Советы</a>,
                                            <a href="https://gillion.shufflehound.com/category/lifestyle/">
                                                ЕГЭ</a>
                                        </div>
                                    </div>
                                    <a class="post-title"><h1> {{ article.Header }}&nbsp;<span
                                                    class="post-read-later post-read-later-guest tooltipstered"
                                                    href="#login-register"
                                                    data-type="add" data-id="53"><i class="fa fa-bookmark-o"></i></span>
                                        </h1></a>
                                    <div class="post-meta">
                                        <div class="post-meta-content"><a
                                                    href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                    class="post-author">{{ article.Author }}</a></span> <a
                                                    href="https://gillion.shufflehound.com/2017/02/08/the-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it/"
                                                    class="post-date"> {{ article.CreationDate|date('d.m.Y') }} </a> </span> <a
                                                    href="https://gillion.shufflehound.com/2017/02/08/the-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it/#comments"
                                                    class="post-comments"> <i
                                                        class="icon icon-bubble"></i> {{ article.CommentsNum }} </a>
                                            <span class="post-readtime"> <i
                                                        class="icon icon-clock"></i> {{ article.ReadTime }} мин. <span>чтения</span> </span>
                                            <span
                                                    class="post-views"> <i class="icon icon-eye"></i> 4011 </span> <span
                                                    class="responsive-post-read-later"> &nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register"
                                                        data-type="add" data-id="53"><i
                                                            class="fa fa-bookmark-o"></i></span> </span></div>
                                    </div>
                                </div>
                                <div class="post-content"><p>{{ article.Content|raw }}</p></div>
                                <div class="sh-clear"></div>
                                <div class="sh-page-links"></div>
                                <!--tags-->
                                {#
                                <div class="post-tags-container">
                                    <div class="post-tags"><a class="post-tags-item post-tags-item-title"> Теги </a> <a
                                                href="https://gillion.shufflehound.com/tag/guide/"
                                                class="post-tags-item"> #Guide </a> <a
                                                href="https://gillion.shufflehound.com/tag/life-hack/"
                                                class="post-tags-item"> #Life-hack </a>
                                        <a href="https://gillion.shufflehound.com/tag/lifestyle/"
                                           class="post-tags-item"> #Lifestyle </a> <a
                                                href="https://gillion.shufflehound.com/tag/travel/"
                                                class="post-tags-item"> #Travel </a></div>
                                </div>
                                #}
                                <div class="post-content-share-mobile-contaner" style="position: relative;">
                                    <div class="post-content-share post-content-share-bar post-content-share-mobile jssocials is_stuck"
                                         style="position: fixed; top: 90px; width: 312px;">
                                        <div class="jssocials-shares">
                                            <div class="jssocials-share jssocials-share-twitter"><a target="_blank"
                                                                                                    href="https://twitter.com/share?url=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F02%2F08%2Fthe-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it%2F&amp;text=Gillion%20is%20a%20powerhouse%20News%2C%20Magazine%2C%20Blog%20or%20Review%20style%20WordPress%20Theme%20packed%20with%20powerful%2C%20easy%20to%20use%20features%2C%20ready%20to%20create%20amazing%20websites.%20Incl%206%20months%20support"
                                                                                                    class="jssocials-share-link"><i
                                                            class="fa fa-twitter jssocials-share-logo"></i></a></div>
                                            <div class="jssocials-share jssocials-share-facebook"><a target="_blank"
                                                                                                     href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F02%2F08%2Fthe-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it%2F"
                                                                                                     class="jssocials-share-link"><i
                                                            class="fa fa-facebook jssocials-share-logo"></i></a></div>
                                            <div class="jssocials-share jssocials-share-googleplus"><a target="_blank"
                                                                                                       href="https://plus.google.com/share?url=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F02%2F08%2Fthe-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it%2F"
                                                                                                       class="jssocials-share-link"><i
                                                            class="fa fa-google jssocials-share-logo"></i></a></div>
                                            <div class="jssocials-share jssocials-share-pinterest"><a target="_blank"
                                                                                                      href="https://pinterest.com/pin/create/bookmarklet/?&amp;url=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F02%2F08%2Fthe-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it%2F&amp;description=Gillion%20is%20a%20powerhouse%20News%2C%20Magazine%2C%20Blog%20or%20Review%20style%20WordPress%20Theme%20packed%20with%20powerful%2C%20easy%20to%20use%20features%2C%20ready%20to%20create%20amazing%20websites.%20Incl%206%20months%20support"
                                                                                                      class="jssocials-share-link"><i
                                                            class="fa fa-pinterest jssocials-share-logo"></i></a></div>
                                            <div class="jssocials-share jssocials-share-whatsapp"><a target="_self"
                                                                                                     href="whatsapp://send?text=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F02%2F08%2Fthe-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it%2F Gillion%20is%20a%20powerhouse%20News%2C%20Magazine%2C%20Blog%20or%20Review%20style%20WordPress%20Theme%20packed%20with%20powerful%2C%20easy%20to%20use%20features%2C%20ready%20to%20create%20amazing%20websites.%20Incl%206%20months%20support"
                                                                                                     class="jssocials-share-link"><i
                                                            class="fa fa-whatsapp jssocials-share-logo"></i></a></div>
                                            <div class="jssocials-share jssocials-share-messenger"><a target="_self"
                                                                                                      href="fb-messenger://share?link=https%3A%2F%2Fgillion.shufflehound.com%2F2017%2F02%2F08%2Fthe-no-1-travel-mistake-youre-making-and-4-ways-to-fix-it%2F"
                                                                                                      class="jssocials-share-link"><i
                                                            class="fa fa-commenting jssocials-share-logo"></i></a></div>
                                        </div>
                                    </div>
                                    <div style="position: static; width: 312px; height: 79px; display: none; vertical-align: baseline; float: none;"></div>
                                </div>
                            </div>
                            <!--perekluchalka-->
                            {#
        <div class="post-switch post-swtich-style1">
            <div class="row">
                <div class="col-md-6">
                    <div class="post-switch-item post-switch-item-disabled"
                         style="background-image: url(https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/17-1024x690.jpg);">
                        <div class="post-switch-item-content"><span class="post-switch-item-left"> <i
                                        class="icon icon-arrow-left-circle"></i> </span>
                            <div class="post-switch-item-right">
                                <div class="post-categories-container">
                                    <div class="post-categories"><a href="https://gillion.shufflehound.com/category/guide/">Guide</a>,
                                        <a href="https://gillion.shufflehound.com/category/lifestyle/">Lifestyle</a></div>
                                </div>
                                <p><span> The No. 1 Travel Mistake You're Making (And 4 Ways To Fix It) </span></p></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-switch-next post-switch-item "
                         style="background-image: url(https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/2c-904x1024.jpg);">
                        <div class="post-switch-item-content">
                            <div class="post-switch-item-right">
                                <div class="post-categories-container">
                                    <div class="post-categories"><a
                                                href="https://gillion.shufflehound.com/category/lifestyle/">Lifestyle</a>
                                    </div>
                                </div>
                                <p>
                                    <a href="https://gillion.shufflehound.com/2017/01/31/how-to-climb-the-career-latter-and-dont-waste-your-youth/">
                                        How To Climb The Career Latter And Don't Waste Your Youth </a></p></div>
                            <a href="https://gillion.shufflehound.com/2017/01/31/how-to-climb-the-career-latter-and-dont-waste-your-youth/"
                               class="post-switch-item-left"> <i class="icon icon-arrow-right-circle"></i> </a></div>
                    </div>
                </div>
            </div>
        </div>
        #}
                            <!--pohozhie-->
                            {#
        <div class="post-related-title post-slide-arrows-container"><h2 class="post-single-title"> Related posts</h2>
            <div class="post-slide-arrows sh-carousel-buttons-styling">
                <button type="button" class="slick-next slick-arrow slick-disabled" aria-disabled="true"
                        style="display: inline-block;"><i class="icon icon-arrow-left-circle"></i></button>
                <button type="button" class="slick-next slick-arrow" aria-disabled="false" style="display: inline-block;"><i
                            class="icon icon-arrow-right-circle"></i></button>
            </div>
        </div>
        <div class="post-related slick-initialized slick-slider">
            <div aria-live="polite" class="slick-list draggable">
                <div class="slick-track" style="opacity: 1; width: 1740px; transform: translate3d(0px, 0px, 0px);"
                     role="listbox">
                    <div class="post-related-item slick-slide slick-current slick-active" data-slick-index="0"
                         aria-hidden="false" style="width: 290px;" tabindex="-1" role="option">
                        <article id="post-67"
                                 class="post-item post-67 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-tech tag-iphone tag-life-hack tag-tech tag-tips tag-tricks">
                            <div class="post-container">
                                <div class="post-thumbnail">
                                    <div class="sh-ratio">
                                        <div class="sh-ratio-container">
                                            <div class="sh-ratio-content"
                                                 style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/10-420x265.jpg);"></div>
                                        </div>
                                    </div>
                                    <a href="https://gillion.shufflehound.com/2017/01/24/little-known-ways-to-rid-yourself-of-tech/"
                                       class="post-overlay" tabindex="0">
                                        <div class="post-overlay-content"><span></span> <span></span> <span></span></div>
                                    </a></div>
                                <div class="post-content-container">
                                    <div class="post-categories-container">
                                        <div class="post-categories"><a
                                                    href="https://gillion.shufflehound.com/category/lifestyle/"
                                                    tabindex="0">Lifestyle</a>, <a
                                                    href="https://gillion.shufflehound.com/category/tech/"
                                                    tabindex="0">Tech</a></div>
                                    </div>
                                    <a href="https://gillion.shufflehound.com/2017/01/24/little-known-ways-to-rid-yourself-of-tech/"
                                       class="post-title" tabindex="0"><h4> Little Known Ways To Rid Yourself Of
                                            Tech&nbsp;<span class="post-read-later post-read-later-guest tooltipstered"
                                                            href="#login-register" data-type="add" data-id="67"><i
                                                        class="fa fa-bookmark-o"></i></span></h4></a>
                                    <div class="post-meta">
                                        <div class="post-meta-content"><span class="post-auhor-date"> <span> <a
                                                            href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                            class="post-author" tabindex="0">Gillion</a></span>, <a
                                                        href="https://gillion.shufflehound.com/2017/01/24/little-known-ways-to-rid-yourself-of-tech/"
                                                        class="post-date" tabindex="0"> 1 year ago </a> </span> <span
                                                    class="post-readtime"> <i
                                                        class="icon icon-clock"></i> 1 min <span>read</span> </span> <span
                                                    class="responsive-post-read-later"> &nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="67"><i
                                                            class="fa fa-bookmark-o"></i></span> </span></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="post-related-item slick-slide slick-active" data-slick-index="1" aria-hidden="false"
                         style="width: 290px;" tabindex="-1" role="option">
                        <article id="post-79"
                                 class="post-item post-79 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-style tag-buddha tag-tips">
                            <div class="post-container">
                                <div class="post-thumbnail">
                                    <div class="sh-ratio">
                                        <div class="sh-ratio-container">
                                            <div class="sh-ratio-content"
                                                 style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/5-420x265.jpg);"></div>
                                        </div>
                                    </div>
                                    <a href="https://gillion.shufflehound.com/2017/01/31/the-buddha-said-it-is-not-the-number-of-blog-tips-you-offer-but-the-quality/"
                                       class="post-overlay" tabindex="0">
                                        <div class="post-overlay-content"><span></span> <span></span> <span></span></div>
                                    </a></div>
                                <div class="post-content-container">
                                    <div class="post-categories-container">
                                        <div class="post-categories"><a
                                                    href="https://gillion.shufflehound.com/category/lifestyle/"
                                                    tabindex="0">Lifestyle</a>, <a
                                                    href="https://gillion.shufflehound.com/category/style/" tabindex="0">Style</a>
                                        </div>
                                    </div>
                                    <a href="https://gillion.shufflehound.com/2017/01/31/the-buddha-said-it-is-not-the-number-of-blog-tips-you-offer-but-the-quality/"
                                       class="post-title" tabindex="0"><h4> The Buddha Said, “It Is Not The Number Of Blog
                                            Tips You Offer But The Quality.”&nbsp;<span
                                                    class="post-read-later post-read-later-guest tooltipstered"
                                                    href="#login-register" data-type="add" data-id="79"><i
                                                        class="fa fa-bookmark-o"></i></span></h4></a>
                                    <div class="post-meta">
                                        <div class="post-meta-content"><span class="post-auhor-date"> <span> <a
                                                            href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                            class="post-author" tabindex="0">Gillion</a></span>, <a
                                                        href="https://gillion.shufflehound.com/2017/01/31/the-buddha-said-it-is-not-the-number-of-blog-tips-you-offer-but-the-quality/"
                                                        class="post-date" tabindex="0"> 1 year ago </a> </span> <span
                                                    class="post-readtime"> <i
                                                        class="icon icon-clock"></i> 1 min <span>read</span> </span> <span
                                                    class="responsive-post-read-later"> &nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="79"><i
                                                            class="fa fa-bookmark-o"></i></span> </span></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="post-related-item slick-slide slick-active" data-slick-index="2" aria-hidden="false"
                         style="width: 290px;" tabindex="-1" role="option">
                        <article id="post-55"
                                 class="post-item post-55 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-people tag-exercise tag-life-hack tag-mind tag-tips tag-tricks">
                            <div class="post-container">
                                <div class="post-thumbnail">
                                    <div class="sh-ratio">
                                        <div class="sh-ratio-container">
                                            <div class="sh-ratio-content"
                                                 style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/16-420x265.jpg);"></div>
                                        </div>
                                    </div>
                                    <a href="https://gillion.shufflehound.com/2017/01/31/master-your-mind-in-5-minutes-a-day/"
                                       class="post-overlay" tabindex="0">
                                        <div class="post-overlay-content"><span></span> <span></span> <span></span></div>
                                    </a></div>
                                <div class="post-content-container">
                                    <div class="post-categories-container">
                                        <div class="post-categories"><a
                                                    href="https://gillion.shufflehound.com/category/lifestyle/"
                                                    tabindex="0">Lifestyle</a>, <a
                                                    href="https://gillion.shufflehound.com/category/people/" tabindex="0">People</a>
                                        </div>
                                    </div>
                                    <a href="https://gillion.shufflehound.com/2017/01/31/master-your-mind-in-5-minutes-a-day/"
                                       class="post-title" tabindex="0"><h4> Master Your Mind In 5 Minutes A Day&nbsp;<span
                                                    class="post-read-later post-read-later-guest tooltipstered"
                                                    href="#login-register" data-type="add" data-id="55"><i
                                                        class="fa fa-bookmark-o"></i></span></h4></a>
                                    <div class="post-meta">
                                        <div class="post-meta-content"><span class="post-auhor-date"> <span> <a
                                                            href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                            class="post-author" tabindex="0">Gillion</a></span>, <a
                                                        href="https://gillion.shufflehound.com/2017/01/31/master-your-mind-in-5-minutes-a-day/"
                                                        class="post-date" tabindex="0"> 1 year ago </a> </span> <span
                                                    class="post-readtime"> <i
                                                        class="icon icon-clock"></i> 1 min <span>read</span> </span> <span
                                                    class="responsive-post-read-later"> &nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="55"><i
                                                            class="fa fa-bookmark-o"></i></span> </span></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="post-related-item slick-slide" data-slick-index="3" aria-hidden="true" style="width: 290px;"
                         tabindex="-1" role="option">
                        <article id="post-69"
                                 class="post-item post-69 post type-post status-publish format-standard has-post-thumbnail hentry category-health category-lifestyle tag-health tag-lifestyle tag-long-life tag-tips">
                            <div class="post-container">
                                <div class="post-thumbnail">
                                    <div class="sh-ratio">
                                        <div class="sh-ratio-container">
                                            <div class="sh-ratio-content"
                                                 style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/9-420x265.jpg);"></div>
                                        </div>
                                    </div>
                                    <a href="https://gillion.shufflehound.com/2017/01/31/health-tips-and-benefits-of-healthy-lifestyle-you-should-consider/"
                                       class="post-overlay" tabindex="-1">
                                        <div class="post-overlay-content"><span></span> <span></span> <span></span></div>
                                    </a></div>
                                <div class="post-content-container">
                                    <div class="post-categories-container">
                                        <div class="post-categories"><a
                                                    href="https://gillion.shufflehound.com/category/health/" tabindex="-1">Health</a>,
                                            <a href="https://gillion.shufflehound.com/category/lifestyle/" tabindex="-1">Lifestyle</a>
                                        </div>
                                    </div>
                                    <a href="https://gillion.shufflehound.com/2017/01/31/health-tips-and-benefits-of-healthy-lifestyle-you-should-consider/"
                                       class="post-title" tabindex="-1"><h4> Health Tips And Benefits Of Healthy Lifestyle
                                            You Should Consider&nbsp;<span
                                                    class="post-read-later post-read-later-guest tooltipstered"
                                                    href="#login-register" data-type="add" data-id="69"><i
                                                        class="fa fa-bookmark-o"></i></span></h4></a>
                                    <div class="post-meta">
                                        <div class="post-meta-content"><span class="post-auhor-date"> <span> <a
                                                            href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                            class="post-author" tabindex="-1">Gillion</a></span>, <a
                                                        href="https://gillion.shufflehound.com/2017/01/31/health-tips-and-benefits-of-healthy-lifestyle-you-should-consider/"
                                                        class="post-date" tabindex="-1"> 1 year ago </a> </span> <span
                                                    class="post-readtime"> <i
                                                        class="icon icon-clock"></i> 1 min <span>read</span> </span> <span
                                                    class="responsive-post-read-later"> &nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="69"><i
                                                            class="fa fa-bookmark-o"></i></span> </span></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="post-related-item slick-slide" data-slick-index="4" aria-hidden="true" style="width: 290px;"
                         tabindex="-1" role="option">
                        <article id="post-402"
                                 class="post-item post-402 post type-post status-publish format-standard has-post-thumbnail hentry category-guide category-photography tag-business tag-how-to tag-photography">
                            <div class="post-container">
                                <div class="post-thumbnail">
                                    <div class="sh-ratio">
                                        <div class="sh-ratio-container">
                                            <div class="sh-ratio-content"
                                                 style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/02/28-420x265.jpg);"></div>
                                        </div>
                                    </div>
                                    <a href="https://gillion.shufflehound.com/2017/01/08/fascinating-photo-editing-tactics-that-can-help-your-business-grow/"
                                       class="post-overlay" tabindex="-1">
                                        <div class="post-overlay-content"><span></span> <span></span> <span></span></div>
                                    </a></div>
                                <div class="post-content-container">
                                    <div class="post-categories-container">
                                        <div class="post-categories"><a
                                                    href="https://gillion.shufflehound.com/category/guide/" tabindex="-1">Guide</a>,
                                            <a href="https://gillion.shufflehound.com/category/photography/" tabindex="-1">Photography</a>
                                        </div>
                                    </div>
                                    <a href="https://gillion.shufflehound.com/2017/01/08/fascinating-photo-editing-tactics-that-can-help-your-business-grow/"
                                       class="post-title" tabindex="-1"><h4> Fascinating Photo Editing Tactics That Can Help
                                            Your Business Grow&nbsp;<span
                                                    class="post-read-later post-read-later-guest tooltipstered"
                                                    href="#login-register" data-type="add" data-id="402"><i
                                                        class="fa fa-bookmark-o"></i></span></h4></a>
                                    <div class="post-meta">
                                        <div class="post-meta-content"><span class="post-auhor-date"> <span> <a
                                                            href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                            class="post-author" tabindex="-1">Gillion</a></span>, <a
                                                        href="https://gillion.shufflehound.com/2017/01/08/fascinating-photo-editing-tactics-that-can-help-your-business-grow/"
                                                        class="post-date" tabindex="-1"> 2 years ago </a> </span> <span
                                                    class="post-readtime"> <i
                                                        class="icon icon-clock"></i> 1 min <span>read</span> </span> <span
                                                    class="responsive-post-read-later"> &nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="402"><i
                                                            class="fa fa-bookmark-o"></i></span> </span></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="post-related-item slick-slide" data-slick-index="5" aria-hidden="true" style="width: 290px;"
                         tabindex="-1" role="option">
                        <article id="post-414"
                                 class="post-item post-414 post type-post status-publish format-standard has-post-thumbnail hentry category-guide category-tech tag-gray-scale tag-photography">
                            <div class="post-container">
                                <div class="post-thumbnail">
                                    <div class="sh-ratio">
                                        <div class="sh-ratio-container">
                                            <div class="sh-ratio-content"
                                                 style="background-image: url( https://cdn.gillion.shufflehound.com/wp-content/uploads/2017/01/32_Full-min-420x265.jpg);"></div>
                                        </div>
                                    </div>
                                    <a href="https://gillion.shufflehound.com/2017/01/01/10-small-changes-that-will-have-a-huge-impact-on-your-productivity/"
                                       class="post-overlay" tabindex="-1">
                                        <div class="post-overlay-content"><span></span> <span></span> <span></span></div>
                                    </a></div>
                                <div class="post-content-container">
                                    <div class="post-categories-container">
                                        <div class="post-categories"><a
                                                    href="https://gillion.shufflehound.com/category/guide/" tabindex="-1">Guide</a>,
                                            <a href="https://gillion.shufflehound.com/category/tech/" tabindex="-1">Tech</a>
                                        </div>
                                    </div>
                                    <a href="https://gillion.shufflehound.com/2017/01/01/10-small-changes-that-will-have-a-huge-impact-on-your-productivity/"
                                       class="post-title" tabindex="-1"><h4> 10 Small Changes That Will Have A Huge Impact
                                            On Your Productivity&nbsp;<span
                                                    class="post-read-later post-read-later-guest tooltipstered"
                                                    href="#login-register" data-type="add" data-id="414"><i
                                                        class="fa fa-bookmark-o"></i></span></h4></a>
                                    <div class="post-meta">
                                        <div class="post-meta-content"><span class="post-auhor-date"> <span> <a
                                                            href="https://gillion.shufflehound.com/author/gillionshufflehound/"
                                                            class="post-author" tabindex="-1">Gillion</a></span>, <a
                                                        href="https://gillion.shufflehound.com/2017/01/01/10-small-changes-that-will-have-a-huge-impact-on-your-productivity/"
                                                        class="post-date" tabindex="-1"> 2 years ago </a> </span> <span
                                                    class="post-readtime"> <i
                                                        class="icon icon-clock"></i> 1 min <span>read</span> </span> <span
                                                    class="responsive-post-read-later"> &nbsp;<span
                                                        class="post-read-later post-read-later-guest tooltipstered"
                                                        href="#login-register" data-type="add" data-id="414"><i
                                                            class="fa fa-bookmark-o"></i></span> </span></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        #}
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}